@tailwind base;
@tailwind components;
@tailwind utilities;

/* https: //github.com/orioncactus/pretendard */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'),
    url('/static/fonts/woff2/Pretendard-Black.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'),
    url('/static/fonts/woff2/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url('/static/fonts/woff2/Pretendard-Bold.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url('/static/fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url('/static/fonts/woff2/Pretendard-Medium.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'),
    url('/static/fonts/woff2/Pretendard-Regular.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'),
    url('/static/fonts/woff2/Pretendard-Light.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'),
    url('/static/fonts/woff2/Pretendard-ExtraLight.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'),
    url('/static/fonts/woff2/Pretendard-Thin.woff2') format('woff2'),
    url('/static/fonts/woff/Pretendard-Thin.woff') format('woff');
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;

  @apply bg-white dark:bg-gray-900 dark:text-white transition duration-500;
}

@layer base {
  button::focus {
    outline: none;
  }
}

/* Header Navigation Underline */
.underlined {
  @apply relative after:content-[''] after:block after:absolute after:left-0  after:-bottom-1 after:h-0.5 after:scale-x-0 after:origin-left  after:transition after:bg-black after:w-full hover:after:scale-x-100 dark:after:bg-white;
}
