/* Tag Styles */
.prose h3 {
  @apply text-2xl dark:text-white;
}

.prose p code {
  @apply text-pink-500 dark:text-pink-600 font-semibold text-sm bg-gray-100 dark:bg-gray-800 px-1 py-[2px] rounded;
}

/* Code Title Styles */

/* Token Styles */
.token {
  color: rgb(255, 255, 255);
}

.token.keyword {
  color: rgb(249, 121, 219);
}

.token.boolean,
.token.number {
  color: rgb(189, 121, 249);
}

.token.string {
  color: rgb(250, 204, 21);
}

.token.class-name,
.token.builtin {
  color: rgb(33, 225, 255);
}

.token.attr-name {
  color: rgb(36, 250, 12);
}

.token.tag {
  color: rgb(248, 113, 113);
}

.token.comment,
.token.prolog,
.token.cdata {
  color: rgb(99, 119, 119);
  font-style: italic;
}
